@model Int32?

<script>
    $(function () {

        $("#comment").click(function () {

            var formData = $("#commentForm").serialize();
            var req = $.post("/Comments/SaveComment", formData);
            req.done(function (data, status) {
                $("#comment-form-@Model.Value").empty().append(data);
                
            });
        });

          $("#cancel").click(function () {
              $("#comment-form-@Model.Value").empty();
         
        });
    });

</script>
<form name="commentForm" id="commentForm" method="post">
    
    <input type="hidden" name="id" id="id" value="@Model.Value"
    <div class="form-group">
        <label for="CommentText">Add a comment</label>
        <textarea class="form-control" id="CommentText" name="CommentText" rows="3"></textarea>
    </div>
    <div class="form-group">
        <input type="button" class="btn btn-default" id="comment" value="Comment" />
        <input type="button" class="btn btn-default" id="cancel" name="submit" value="Cancel" />
    </div>
</form>