@model Events.Web.Models.UpcomingPassedEvents

<h2>@ViewBag.Title</h2>

<h1 class="event-group-heading">Upcoming Events</h1>
<div class="row">
    @if (Model.Upcoming.Any())
    {
        @Html.DisplayFor(x => x.Upcoming);
    }
    else
    {
    <div class="col-md-4 col-sm-6 col-xs-12">No Events</div>
    }
</div>

<h1 class="event-group-heading">Passed Events</h1>
<div class="row">
    @if (Model.Passed.Any())
    {
        @Html.DisplayFor(x => x.Passed);
    }
    else
    {
    <div class="col-md-4 col-sm-6 col-xs-12">No Events</div>
    }
</div>
