@model Events.Web.Models.UpcomingPassedEventsPaged

@{
    ViewBag.Title = "Public Events";

}

@{
    ViewBag.PostBackAction = "/" + ViewBag.Controller + "/UpcomingEvents/";
    ViewBag.UpdateSelector = "#events-upcoming";
    ViewBag.Heading = "Upcoming Events";
}
<div id="events-upcoming">
    @Html.Partial("_Events", Model.Upcoming)
</div>

@{
    ViewBag.PostBackAction = "/" + ViewBag.Controller + "/PassedEvents/";
    ViewBag.UpdateSelector = "#events-passed";
    ViewBag.Heading = "Passed Events";
}
<div id="events-passed">
    @Html.Partial("_Events", Model.Passed)
</div>

@section scripts{
    @Scripts.Render("~/bundles/ajax")
}
